/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	margin-bottom: .4em;
}

a {
	text-decoration: none;
}


figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;	
	background: rgba(19,43,102, .85);
	
	position: absolute;
	bottom: 0;
	width: 100%;
}

img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
	margin: 0;
}

.main-nav {
	margin-top: 5px;
}

	.name a,
	.main-nav a {
		display: block;
		text-align: center;
		padding: 10px 15px;
	}
	
	.main-nav a {
		font-size: .95em;
		color: #000;
		text-transform: uppercase;
	}

	.main-nav a:hover {
		color: #093a58;
	}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	color: #fff;
	background: #000;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.main-footer {
	background: #000;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.lists {
	padding-left: 20px; 
	list-style-type: decimal;
}

.lists li{
	padding-left: 10px; 
	margin-bottom: 10px; 
}

.caption {
	margin-top: 20px; 
	font-size: .7em; 
	font-style: italic;
}


.logo {
	width: 250px;
	border-radius: 20px; 
	transition: transform 1s;
}
.logo:hover {
	transform: rotate(-360deg);
}

.meImg {
	display: block;
	max-width: 250px;
	margin: 0 auto 30px;
	border-radius: 10%; 
	transition: transform 1s;
}

.meImg:hover {
	transform: scale(1.1);
}

.headline {
	margin-bottom: 0;
}

.icon-location {
	width: 35px;
	position: absolute;
	top: -15px;
	right: -15px;
	z-index: 2;
}

.ucr-img {
	border-radius: 20px; 
	max-width: 300px;
}

.computer {
	margin-top: 20px;
	border-radius: 10px; 
	max-width: 50%;
}


/*===============================
Vocabulary
================================= */

.word {
	width: 300px; 
	height: 200px; 
	border-radius: 10%;
	background-color: #D3D3D3; 
	text-align: center; 
}

.definition {
	width: 300px; 
	height: 200px; 
	border-radius: 10%;
	background-color: #D3D3A2; 
	text-align: center; 
}
.word h1 {
	text-align: center;
	line-height: 150px; 
}
.definition p {
	padding: 10%;
	text-align: center;
	line-height: 50px; 
}
/* ================================= 
  Flashcards
==================================== */

.content {
	perspective: 700px;
}

.flashcard {
	transition: transform 1s cubic-bezier(.55, -.62, .27, 1.2);
	transform-style: preserve-3d;
}

.flashcard:hover {
	transform: rotateX(-180deg);
}

.word,
.definition {
	backface-visibility: hidden;
}

.definition {
	transform: rotateX(180deg);
}

/*===============================
Contact
================================= */

.contact-info{
	list-style: none; 
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}
.contact-info a {
	display: block;
	min-height: 20px; 
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px; 
	margin: 0 0 20px;
}

.contact-info li.phone a {
	background-image: url('../img/phone.png');
}

.contact-info li.mail a {
	background-image: url('../img/mail.png');
}



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.wrap {
		min-height: calc(82vh); 
	}

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0,0,0,.4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container {
		width: 90%;
		margin: 0 auto;
	}

	.name,
	.col {
		float: left;
	}

	.primary,
	.secondary {
		width: 50%;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
		color: gray;
		padding: 5%;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {
	
	.container {
		width: 80%;
		max-width: 1150px;
	}

	.primary {
		width: 40%;
	}

	.secondary,
	.tertiary {
		width: 30%;
	}

	.contact-primary {
		margin-left: 100px;
		width: 30%;
	}

	.contact-secondary {
		width: 50%;
	}


}